<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>W2M7APU8R5</string>
	<key>method</key>
	<string>app-store</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: Shenzhen Ellassay Fashion Co.,Ltd. (W2M7APU8R5)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ellassay.madaha</key>
		<string>Dis</string>
	</dict>
</dict>
</plist>
